.barSlider {
    background-color: transparent;
    border: solid 1px var(--color-border-default);
    border-radius: 1em;
    height: .625em;
    position: relative;
    width: 100%;
}

.handleWrapper {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
}