:root {
    --color-primary: #004E7C;
    --color-secondary: #016ac8;
    --color-danger: #B73225;
    --color-success: #25B734;

    /* greys */
    --color-lightest: #FFFFFF;
    --color-light: #DCE1E3;
    --color-dark: #5C5F58;

    /* applied colors */
    --color-link: var(--color-primary);
    --color-border-default: var(--color-light);
}