.grid {
    display: grid;
    grid-row-gap: var(--spacing-v-base);

    @media (--medium) {
        grid-column-gap: var(--spacing-h-base);
        grid-template-columns: 1fr 1fr;
    }
}

.temperatureTile {
    grid-row-start: 2;
}

.dashboardTile {

    @media (--medium) {
        height: calc(50vh - var(--height-header-d) - var(--spacing-v-base));
        min-height: 18.75rem;
        padding-bottom: var(--spacing-v-base);
    }
}