.appHeader {
    align-items: center;
    background-color: var(--color-primary);
    color: white;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-header-d);
    height: var(--height-header-d);
    justify-content: center;
    margin-bottom: var(--spacing-v-base);
    padding: .25em;

    @media (--medium) {
        height: var(--height-header-d);
    }
}

.mainContent {
    margin: 0 auto;
    max-width: 1440px;
    padding-bottom: var(--spacing-v-base);
    overflow: hidden;
}
