body {
    background-color: white;
    font-family: var(--font-body);
    font-size: var(--font-size-default-d);
}

* {
    box-sizing: border-box;
}

a,
a:hover,
a:active {
    color: var(--color-link);
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}